/****************留言列表页列表*****************/

.sitepath a.write {
	float:right;
	margin-right:10px;
	display:inline;
	color:#cc0000;
	font-weight:bold;
}
.sitepath a.write:hover {
	color:#333;

}
.guest_list {margin-top:10px;height:auto!important;min-height:120px;height:120px;border:1px solid #d5d5d5;}
.guest_title {border-bottom:1px solid #d5d5d5;height:25px;}
.guest_title h3 {height:25px;line-height:25px;background:url(images/tabtitle.gif) repeat-x left center;font-size:12px;font-weight:normal;padding-left:10px;position:relative;}

.guest_title h3 span.all_replay {position:absolute;
	top:0px;
	left:637px;}
.guest_title h3 a {color:#cc0000;}
.guest_title h3 a:hover {color:#333;}
.guest_title h3 span.read {padding-left:15px;}
.guest_title h3 span strong {color:#cc0000;}
.guest_people {padding:8px;}
.guest_people strong,.guest_new_replay strong {display:block;height:21px;line-height:21px;}
.guest_people p,.guest_new_replay  p,.guest_replay p {line-height:19px;text-indent:45px;color:#313534;}
.guest_new_replay,.guest_replay  {background:#f4f8fd;margin:8px;padding:5px;clear:both;border:1px solid #dce8f8;color:#4887db;}
.guest_replay {background:#fdf1f0;border:1px solid #f5b9b4;}
.guest_replay p {color:#2d0a06;}
.guest_new_replay  p  {color:#4887db;}
.guest_bottom {height:28px;line-height:28px;padding-left:15px;border-top:1px solid #d5d5d5;}
/**************签写留言页***************/
.title, .spacingtitle, th {
	background:#fff;
}
.border, .TableWrap {
	border:none;
}
.tdbg {
	line-height:180%;
}
.tdbgleft, .tdbg {
	background:#fff;
	padding:8px 0px;
}
.border input {
	border:1px solid #ccc;
}
#EBtnSubmit 
{
    border:none;
}