/*******标题自适应***********/
.soft_list h3, .soft_list h3 span, .soft_list h3 em {
	height:30px;
	line-height:30px;
	background:url(images/back.gif) no-repeat left -280px;
}
.soft_list h3 span {
	background:url(images/sidebar.gif) no-repeat left top;
	display:inline-block;
	padding-left:37px;
}
.soft_list h3 em {
	background:url(images/sidebar.gif) no-repeat right -33px;
	padding-right:37px;
	font-size:12px;
	color:#fff;
	display:inline-block;
}
.soft_list h3 img {
	float:right;
	margin-right:10px;
	display:inline;
	margin-top:10px;
}
.soft_list ul {
	background:url(images/area_back.gif) repeat-x left top;
	padding:20px 15px;
	padding-bottom:6px;
	height:auto!important;
	min-height:80px;
	height:80px;
	clear:both;
}
.page_line {
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;
	text-align:center;
	padding-bottom:18px;
}
/**************子栏目列表****************/
.soft_title {
	height:33px;
	line-height:33px;
	background:url(images/back.gif) no-repeat 5px -369px;
	padding-left:24px;
	text-align:right;
	padding-right:15px;
}
.soft_title h4 {
	display:inline;
	font-size:12px;
	color:#595959;
	float:left;
}
.soft_title h4 a {
	color:#595959;
}
.soft_title h4 a:hover {
	color:#cc0000;
}
.soft_title span {
	padding:0px 5px;
	color:#325e7f;
}
.soft_intro {
	clear:both;
	line-height:180%;
	text-indent:20px;
	padding:13px 8px 25px 8px;
	color:#666666;
}
/**************软件内容页**************/
.soft_info {
	padding:0px 20px 0px 30px;
	;
}
.soft_top {
	height:4px;
	line-height:4px;
	font-size:0px;
	background:url(images/back.gif) no-repeat left -358px;
}
.soft_line {
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;
	height:auto!important;
	min-height:300px;
	height:300px;
}
.soft_info h1 {
	color:#2782b9;
	font-size:18px;
	font-family:"微软雅黑";
	text-align:center;
	line-height:35px;
	font-weight:normal;
	padding:18px 0px;
}
.soft_pic {
	float:left;
	width:225px;
}
.soft_pic img {
	width:216px;
	height:162px;
}
.soft_info_all {
	float:right;
	width:438px;
	padding-left:10px;
}
.s_font_collection {
	padding:10px 0px;
}
.s_font_collection a {
	display:inline-block;
	width:80px;
	height:22px;
	line-height:22px;
	text-align:center;
	color:#000;
	background:url(images/back.gif) no-repeat -828px top;
	margin-bottom:10px;
	margin-left:15px;
}
.soft_info_all ul {
	background:url(images/soft_line.gif) left top;
	height:auto!important;
	min-height:200px;
	height:200px;
}
.soft_info_all li {
	float:left;
	width:48%;
	height:25px;
	line-height:25px;
	margin-right:5px;
	font-weight:bold;
	overflow:hidden;
}
.soft_info_all li.reg_url{width:90%;}
.soft_info_all li span {
	font-weight:normal;
}
/*****************相关下载滑动门*******************/
.soft_menu {
	height:31px;
	line-height:31px;
	background:url(images/back.gif) no-repeat left -411px;
	font-size:14px;
	font-weight:bold;
	color:#1d3e76;
	position:relative;
	z-index:9999;
}
.soft_menu a {
	cursor: pointer;
	height:31px;
	line-height:31px;
	display:inline-block;
	width:84px;
	text-align:center;
	color:#2685b8;
}
.soft_menu a.hover {
	background:#fafafa url(images/back.gif) no-repeat -716px -31px;
	color:#fff;
}
.soft_menuabout {
	border:1px solid #d8d8d8;
	border-top:none;
	padding:10px;
	margin-top:-2px;
	background:#fafafa;
}
#con_one_1 {
	padding:18px;
	line-height:24px;
	color:#333;
}
#con_one_2 ul {
	padding:18px;
}
#con_one_2 li {
	height:24px;
	line-height:24px;
}
#con_one_2 li a {
	color:#333;
}
#con_one_2 li a:hover {
	color:#cc0000;
	text-decoration:underline;
}
.intro_url {
	float:left;
	width:300px;
}
.soft_action {
	float:left;
	width:353px;
	border:1px solid #ebebeb;
	background:#f8f8f8;
	margin-left:22px;
}
.soft_action p {
	padding:15px;
	line-height:180%;
}
.soft_action p a {
	color:#cc0000;
	text-decoration:underline;
}
.soft_action p a:hover {
	color:#333;
}
.intro_url h3 {
	padding-left:8px;
	height:26px;
	padding-top:7px;
	background:url(images/back.gif) no-repeat left -448px;
	font-size:14px;
}
.intro_url dl {
	padding-left:10px;
}
.intro_url dt {
	font-size:12px;
	color:#2b2727;
	font-weight:bold;
	height:31px;
	line-height:31px;
}
.intro_url li {
	height:23px;
	line-height:23px;
	font-weight:bold;
	padding-left:15px;
	background:url(images/icon6.gif) no-repeat 2px center;
}
.intro_url li a {
	color:#cc0000;
}
.intro_url li a:hover {
	color:#333;
}
#commentform {
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;
}
