/*********作者来源列表页*********/

.s_classlist_title li{ height:40px;line-height:40px;float:left;width:32%;}
.source_info li {float:left;width:32%;line-height:24px;min-height:24px;height:auto !important; height:24px; }
.source_info li a {color:#333;}
.source_info li a:hover {color:#cc0000;text-decoration:underline;}

/*******用户列表**********/
.user_allIntro {margin-bottom:20px;}
.user_list td {padding:5px;line-height:24px;background:#fff;text-align:center;color:#8a8d8c;}
.user_list td strong {color:#124a6b;}
.user_list td  a {color:#1c7cc1;}
.user_list td  a:hover {color:#cc0000;text-decoration:underline;}
.user_back_info {background:#71b7ea;}

/**********心情指数列表*******/
.childclass_title {font-weight:bold;color:#333;height:40px;line-height:40px;clear:both;background:url(images/line.gif) repeat-x left bottom;padding-left:15px;}
.childclass_title a {color:#333;font-size:14px;}
.childclass_title a:hover {color:#cc0000;}
.childclass_content  {padding-bottom:15px;}
.childclass_content ul {padding:10px 0px;}
.childclass_content li {float:left;width:48%;height:24px;line-height:24px;overflow:hidden;font-size:14px;}
.childclass_content li a {color:#333;padding-left:25px;background:url(images/icon5.gif) no-repeat 10px center;}
.childclass_content li a:hover {color:#cc0000;text-decoration:underline;}
.childclass_content li strong {color:#cc0000;font-size:12px;}