/*******************投票管理******************/
.vote_list h4 {
	height:31px;
	line-height:31px;
	font-size:14px;
}
.vote_list li {
	line-height:24px;
}
.vote_list li input {
	vertical-align:middle;
	margin-right:5px;
}
.vote_list ul {
	height:auto!important;
	min-height:220px;
	height:220px;
}
.vote_list li.vote_check input {
	width:66px;
	height:22px;
	background:none;
	border:none;
	margin:0px 10px;
	margin-top:15px;
}
.vote_list li.vote_check input {
	background:url(images/back.gif) no-repeat -143px -38px;
}
.vote_list li.vote_check input#ShowVote {
	background:url(images/back.gif) no-repeat -215px -38px;
}
.sitepath_allweb strong,.vote_turnout strong{color:#cc0000;}
.vote_contant {line-height:180%;}

.vote_turnout {margin-top:20px;height:24px;line-height:24px;}